[submodule "workspace/transportino_interfaces"]
	path = workspace/transportino_interfaces
	url = https://github.com/mattsays/transportino_interfaces.git
[submodule "workspace/transportino_led"]
	path = workspace/transportino_led
	url = https://github.com/Transportino/transportino_led.git
