[submodule "workspace/src/transportino_interfaces"]
	path = workspace/src/transportino_interfaces
	url = https://github.com/Transportino/transportino_interfaces.git
[submodule "workspace/src/transportino_led"]
	path = workspace/src/transportino_led
	url = https://github.com/Transportino/transportino_led.git
[submodule "workspace/src/transportino_lidar"]
	path = workspace/src/transportino_lidar
	url = https://github.com/Transportino/transportino_lidar.git